<div class="panel panel-default">
        <div class="panel-heading">
                <div class="box-header with-border">
                  <h3 class="box-title">Catálogo de Artículos</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>                    
                  </div>
                </div>
        </div>
                <!-- /.box-header -->
                <div class="box-body">
                  	<div class="row">
	                  	<div class="col-md-12">
		                    <!--Contenido-->
                            
		                    <div class="col-sm-14"  id="VerForm">

        <form role="form" name="frmArticulos" id="frmArticulos" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <label>Los campos con (*) son olbigatorios</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 left">
                    <label>Categoría (*):</label>
                    <div class="form-group  has-success">
                        <input id="txtIdArticulo" type="hidden" maxlength="50" class="form-control" name="txtIdArticulo" required="" placeholder="" autofocus="" />
                        
                        <select id="cboCategoria" name="cboCategoria" class="form-control">

                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 left">
                    <label>U. Medida (*):</label>
                    <div class="form-group  has-success">
                        
                        <select id="cboUnidadMedida" name="cboUnidadMedida" class="form-control">

                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <label>Nombre (*):</label>
                    <div class="form-group  has-success">                        
                        <input id="txtNombre" type="text" maxlength="50" class="form-control" name="txtNombre" required="" placeholder="Ingrese el nombre del Articulo" autofocus="" />
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                    <label for="inputInscripcion">Descripción:</label>
                    <div class="form-group  has-success">
                        
                        <textarea id="txtDescripcion" class="form-control" name="txtDescripcion" placeholder=""></textarea>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <label for="inputInscripcion">Imagen:</label>
                    <div class="form-group  has-success">
                        
                        <input id="imagenArt" type="file" class="form-control" name="imagenArt" autofocus="" />
                        <input id="txtRutaImgArt" type="text" class="form-control" name="txtRutaImgArt" autofocus="" />
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                    <h5></h5>
                    <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Registrar</button>
                    <a href="Articulo.php" class="btn btn-primary" ><i class="fa fa-remove"></i> Cancelar</a>
                    <hr>
                    <span class="lead text-primary"></span>
                </div>
            </div>
        </form>
    </div>
<button class="btn btn-primary" id="btnNuevo"><i class="fa fa-file"></i> Nuevo</button>




		                    <br><br>
		                    <div id="VerListado" class="table-responsive">


            		<table id="tblArticulos" class="table table-striped table-bordered table-condensed table-hover" cellspacing="0" cellpadding="0" width="100%">
                    <thead>
                        <tr>
                        	<th>#</th>
                            <th>Categoria</th>
                            <th>U. Medida</th>
                            <th>Articulo</th>
                            <th>Descripcion</th>
                            <th>Imagen</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
             
                    <tfoot>
                        <tr>
                        	<th>#</th>
                            <th>Categoria</th>
                            <th>U. Medida</th>
                            <th>Articulo</th>
                            <th>Descripcion</th>
                            <th>Imagen</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
             
                    <tbody id="articulo">

                    </tbody>
                </table>
</div>
		                    <!--Fin-Contenido-->
                  		</div>
                  	</div><!-- /.row -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->


<script type="text/javascript">
    
    $('#liAlmacen').addClass("treeview active");
    $('#liArticulos').addClass("active");

</script>