<div class="panel panel-default">
            <div class="panel-heading">
                <div class="box-header with-border">
                  <h3 class="box-title" >Categorías</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>                    
                  </div>
                </div>
            </div>
                <!-- /.box-header -->
                <div class="box-body">
                  	<div class="row">
	                  	<div class="col-md-12">
		                    <!--Contenido-->
                            
	<div class="col-sm-14"  id="VerForm">
       
        <form role="form" name="frmCategorias" id="frmCategorias">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <label>Los campos con (*) son olbigatorios</label>
                </div>
                <div class="col-lg-8 left">
                    <div class="form-group has-success">
                        <input id="txtIdCategoria" type="hidden" maxlength="50" class="form-control" name="txtIdCategoria" required="" placeholder="" autofocus="" />
                        <label>Nombre (*):</label>
                        <input id="txtNombre" type="text" maxlength="50" class="form-control" name="txtNombre" required="" placeholder="Ingrese la Categoria" autofocus="" />
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 left">
                    <h5></h5>
                    <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Registrar</button>
                    <a href="Categoria.php" class="btn btn-primary" ><i class="fa fa-remove"></i> Cancelar</a>
                    <hr>
                    <span class="lead text-primary"></span>
                </div>
            </div>
        </form>
    </div>
<button class="btn btn-primary" id="btnNuevo"><i class="fa fa-file"></i> Nuevo</button>




		                    <br><br>
		                    <div id="VerListado" class="table-responsive">


            		<table id="tblCategorias" class="table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        	<th>#</th>
                            <th>Categoria</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
             
                    <tfoot>
                        <tr>
                        	<th>#</th>
                            <th>Categoria</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
             
                </table>
</div>
		                    <!--Fin-Contenido-->
                  		</div>
                  	</div><!-- /.row -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->

<script type="text/javascript">
    
    $('#liAlmacen').addClass("treeview active");
    $('#liCategorias').addClass("active");

    //$("#txtNombre").numeric();
</script>