<div class="box">
        <div class="box-header with-border">
                <div class="box-header with-border">
                  <h3 class="box-title" id="lblTitle" >Créditos</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
            </div>
                <!-- /.box-header -->
                <div class="box-body">
                  	<div class="row">
	                  	<div class="col-md-12">

                            <div class="col-sm-14"  id="VerForm">
       
        <form role="form" name="frmCreditosV" id="frmCreditosV">
            <div class="row">
                <div class="col-lg-4 left">
                    <div class="form-group">
                        <label for="inputMarca">Monto Total:</label>
                        <input id="txtMontoTotal" type="text" maxlength="50" class="form-control" name="txtMontoTotal" required="" placeholder="Ingrese el monto" autofocus="" disabled />
                    </div>
                    <div class="form-group">
                        <label for="inputMarca">Monto Pendiente:</label>
                        <input id="txtMontoPendiente" type="text" maxlength="50" class="form-control" name="txtMontoPendiente" autofocus="" disabled />
                    </div>
                    <div class="form-group">
                        <input id="txtIdCredito" type="hidden" maxlength="50" class="form-control" name="txtIdCredito" required="" placeholder="" autofocus="" />
                        <input id="txtIdVenta" type="hidden" maxlength="50" class="form-control" name="txtIdVenta" required="" placeholder="" autofocus="" />
                        <label for="inputMarca">Monto a Pagar:</label>
                        <input id="txtTotalPago" type="text" maxlength="50" class="form-control" name="txtTotalPago" required="" placeholder="Ingrese el monto" autofocus="" />
                    </div>
                    
                </div>
                <div class="col-lg-12 left">
                    <h5></h5>
                    <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Registrar</button>
                    <a href="Credito.php" class="btn btn-primary" ><i class="fa fa-remove"></i> Cancelar</a>
                    <hr>
                    <span class="lead text-primary"></span>
                </div>

            </div>
        </form>
        <div class="col-sm-9 col-lg-12 main">
                <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" border="1" class="display" id="tblVerDetalle">
                    <thead>
                        <tr>
                            <th>Fecha de Pagos</th>
                            <th>Montos Pagados</th>
                        </tr>
                    </thead>
                        <tbody>
                            
                        </tbody>
                </table>
            </div>
        </div>
    </div>
		<br>
                            <div id="VerListado" class="table-responsive">


        <table id="tblCredito" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Tipo de Venta</th>
                <th>T. Comprobante</th>
                <th>Serie</th>
                <th>Numero</th>
                <th>Fecha</th>
                <th>Impuesto</th>
                <th>Total</th>
                <th>Total Pagado</th>
                <th>Total Deuda</th>
                <th>Opcion</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>#</th>
                <th>Tipo de Venta</th>
                <th>T. Comprobante</th>
                <th>Serie</th>
                <th>Numero</th>
                <th>Fecha</th>
                <th>Impuesto</th>
                <th>Total</th>
                <th>Total Pagado</th>
                <th>Total Deuda</th>
                <th>Opcion</th>
            </tr>
        </tfoot>
 
    </table>
</div>
		                    <!--Fin-Contenido-->
                  		</div>
                  	</div><!-- /.row -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->


<script type="text/javascript">
    
    $('#liVentas').addClass("treeview active");
    $('#liCreditos').addClass("active");

</script>