<div class="box">
        <div class="box-header with-border">
                <div class="box-header with-border">
                  <h3 class="box-title" id="lblTitle" >Comprobantes</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
            </div>
                <!-- /.box-header -->
                <div class="box-body">
                  	<div class="row">
	                  	<div class="col-md-12">
		                    <!--Contenido-->
		                    <div class="col-sm-14"  id="VerForm">
        <form  name="frmDocSuc" id="frmDocSuc" enctype="multipart/form-data" >
            <div class="row">
                <div class="col-sm-9 col-sm-offset-0 col-lg-8 col-lg-offset-0 main">
                    <div class="row">
                        <div class="col-lg-6 left">
                            <input id="txtIdDocSucursal" type="hidden" maxlength="50" class="form-control" name="txtIdDocSucursal" required="" placeholder="" autofocus="" />  
                            <input id="txtIdSucursal" type="hidden" value="<?php echo $_SESSION["idsucursal"] ?>" maxlength="50" class="form-control" name="txtIdSucursal" required="" placeholder="" autofocus="" />  
                            <label for="inputMarca">Tipo de Documento</label>
                            <div class="form-group  has-success">
                                <select id="cboTipoDocumento" name="cboTipoDocumento" class="form-control" required >
                                    
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-6 left">
                            <label for="inputPlaca">Serie</label>
                            <div class="form-group has-success">
                                <input id="txtSerie" placeholder="Ingrese última serie del comprobante" type="text" class="form-control" style="text-align:center;" name="txtSerie" />
                            </div>
                        </div>
                        <div class="col-lg-6 left">
                            <label for="inputPlaca">Numero</label>
                            <div class="form-group has-success">
                                    <input id="txtNumero" type="text" class="form-control" style="text-align:center;" placeholder="Ingrese último número del comprobante" name="txtNumero" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 left">
                            <div class="form-group">
                                <button type="button" id="btnAgregarSN" class="btn btn-success"><i class='fa fa-search'></i>
                                     Agregar Serie y Numero </button>
                            </div>
                        </div>
                    </div>
                <div >
            </div>
            </div>
            <div class="col-sm-9 col-lg-12 main">
                <div class="table-responsive">
                        <table cellpadding="0" class="table table-striped table-bordered" cellspacing="0" border="1" class="display" id="tblDetalleDoc">
                            <thead>
                                <tr>
                                    <th>T. Documento</th>
                                    <th>Serie</th>
                                    <th>Numero</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                </div>
            </div>
                    <br>
                    <div class="col-lg-12 left">
                        <button class="btn btn-success" type="submit"><i class="fa fa-floppy-saved"></i> Registrar</button>
                        <a href="DocSucursal.php" class="btn btn-primary" ><i class="fa fa-remove"></i> Cancelar</a>
                        <hr>
                        <span class="lead text-primary"></span>
                    </div>
                
                <br><br>
            </div>
        </form>
    </div>
<button class="btn btn-primary" id="btnNuevoDocSuc"><i class="fa fa-file"></i> Nuevo</button>
    <br><br>
                            <div id="VerListado" class="table-responsive">


        <table id="tblDocSucursal" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>T. Documento</th>
                <th>Ultima Serie</th>
                <th>Ultimo Numero</th>
                <th>Opciones</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>#</th>
                <th>T. Documento</th>
                <th>Ultima Serie</th>
                <th>Ultimo Numero</th>
                <th>Opciones</th>
            </tr>
        </tfoot>
 
        <tbody id="DocSucursal">

        </tbody>
    </table>
</div>
		                    <!--Fin-Contenido-->
                  		</div>
                  	</div><!-- /.row -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->

<script type="text/javascript">
    
    $('#liVentas').addClass("treeview active");
    $('#liConfigurarSerie').addClass("active");

</script>