<div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Configuración General</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  	<div class="row">
	                  	<div class="col-md-12">
		                    <!--Contenido-->
                            
		                    <div class="col-sm-14"  id="VerForm">
                          <!--
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Categoria</h3>
            </div>
        </div>
      -->
        <form role="form" name="frmGlobal" id="frmGlobal" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <label>Los campos con (*) son olbigatorios</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 left">
                    <div class="form-group has-success">
                        <input id="txtIdGlobal" type="hidden" maxlength="100" class="form-control" name="txtIdGlobal" required="" placeholder="" autofocus="" />
                        <label>Nombre Empresa (*):</label>
                        <input id="txtEmpresa" type="text" maxlength="100" class="form-control" name="txtEmpresa" required="" placeholder="Ingrese el nombre de la empresa" autofocus="" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 left">
                    <div class="form-group has-success">
                        <label>Impuesto (*):</label>
                        <input id="txtNombre_Impuesto" type="text" maxlength="5" class="form-control" name="txtNombre_Impuesto" required="" placeholder="Símbolo del impuesto: IVA, IGV..." autofocus="" />
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 left">
                    <div class="form-group has-success">
                        <label>Porcentaje impuesto (*):</label>
                        <input id="txtPorcentaje_Impuesto" type="number" class="form-control" name="txtPorcentaje_Impuesto" required="" placeholder="Porcentaje del impuesto: 18, 19..." autofocus="" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 left">
                    <div class="form-group has-success">
                        <label>Símbolo de la Moneda (*):</label>
                        <input id="txtSimbolo_Moneda" type="text" maxlength="5" class="form-control" name="txtSimbolo_Moneda" required="" placeholder="Símbolo de la moneda: S/. $." autofocus="" />
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 left">
                    <div class="form-group has-success">
                            <label>Logo (*):</label>
                            <input id="imagenGlobal" type="file" class="form-control" name="imagenGlobal" autofocus="" />
                        <input id="txtRutaImgLogo" type="text" class="form-control" name="txtRutaImgLogo" autofocus="" />
                    </div>
                </div>
                
                <div class="col-lg-12 left">
                    <h5></h5>
                    <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Registrar</button>
                    <a href="Global.php" class="btn btn-primary" ><i class="fa fa-remove"></i> Cancelar</a>
                    <hr>
                    <span class="lead text-primary"></span>
                </div>
            </div>
        </form>
    </div>
    

    



		                    <br><br>
		                    <div id="VerListado" class="table-responsive">


            		<table id="tblGlobal" class="table table-striped table-bordered table-condensed table-hover" cellspacing="0" cellpadding="0" width="100%">
                    <thead>
                        <tr>
                        	<th>#</th>
                            <th>Empresa</th>
                            <th>Impuesto</th>
                            <th>Impuesto %</th>
                            <th>Moneda</th>
                            <th>Logo</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
             
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Empresa</th>
                            <th>Impuesto</th>
                            <th>Impuesto %</th>
                            <th>Moneda</th>
                            <th>Logo</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
             
                    <tbody id="global">

                    </tbody>
                </table>
</div>
		                    <!--Fin-Contenido-->
                  		</div>
                  	</div><!-- /.row -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->


<script type="text/javascript">
    
    $('#liMantenimiento').addClass("treeview active");
    $('#liGeneral').addClass("active");

</script>