<div class="panel panel-default">
  <div class="panel-heading">
    <div class="box-header with-border">
      <h3 class="box-title">Kardex Valorizado</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <?php
                            if ($_SESSION["superadmin"] == "S") {
                        ?>
      <div class="col-lg-4 left">
        <label for="inputMarca">Sucursal:</label>
        <div class="form-group has-success">

          <div class="input-group">
            <input id="txtSucursal" type="text" value="<?php echo $_SESSION["sucursal"] ?>" class="form-control"
              name="txtSucursal" required="" placeholder="Seleccione una Sucursal" autofocus="" disabled />
            <span class="input-group-btn">
              <button type="button" class="btn btn-success" id="btnBuscarSucursal"><i class='fa fa-search'></i>
                Buscar Sucursal
              </button>
            </span>
            <span class="input-group-btn">
              <button type="button" class="btn btn-info" id="btnFiltrarKV"><i class='fa fa-search'></i>
                Filtrar
              </button>
            </span>
          </div>
        </div>
      </div>
      <?php } ?>
      <input id="txtIdSucursal" type="hidden" value="<?php echo $_SESSION["idsucursal"] ?>" maxlength="50"
        class="form-control" name="txtIdSucursal" required="" placeholder="" autofocus="" />
      <div class="col-md-12">
        <br>
        <div id="VerListado" class="table-responsive">


          <table id="tblKardexValorizado" class="table table-striped table-bordered table-condensed table-hover"
            cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Sucursal</th>
                <th>Articulo</th>
                <th>Categoria</th>
                <th>Unidad</th>
                <th>Total de Ingresos</th>
                <th>Valor de Ingresos</th>
                <th>Total de Stock</th>
                <th>Valor de Stock</th>
                <th>Total de Ventas</th>
                <th>Valor de Ventas</th>
                <th>Utilidad Valorizada</th>
              </tr>
            </thead>

            <tfoot>
              <tr>
                <th>Sucursal</th>
                <th>Articulo</th>
                <th>Categoria</th>
                <th>Unidad</th>
                <th>Total de Ingresos</th>
                <th>Valor de Ingresos</th>
                <th>Total de Stock</th>
                <th>Valor de Stock</th>
                <th>Total de Ventas</th>
                <th>Valor de Ventas</th>
                <th>Utilidad Valorizada</th>
              </tr>
            </tfoot>

          </table>
        </div>
        <!--Fin-Contenido-->
      </div>
    </div><!-- /.row -->
  </div><!-- /.box-body -->
</div><!-- /.box -->

<div id="modalListadoSucursal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Listado de Sucursales</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table id="tblSucursales" class="table table-striped table-bordered table-condensed table-hover"
            cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Seleccione</th>
                <th>#</th>
                <th>Razón Social</th>
                <th>Documento</th>
                <th>Dirección</th>
                <th>E-Mail</th>
                <th>Logo</th>
              </tr>
            </thead>

            <tfoot>
              <tr>
                <th>Seleccione</th>
                <th>#</th>
                <th>Razón Social</th>
                <th>Documento</th>
                <th>Dirección</th>
                <th>E-Mail</th>
                <th>Logo</th>
              </tr>
            </tfoot>

            <tbody id="Sucursales">

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> Cerrar</button>
        <button type="button" id="btnAgregarSucursal" class="btn btn-primary"><i class="fa fa-plus"></i>
          Agregar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $('#liConsultaCompras').addClass("treeview active");
  $('#liKardexValorizado').addClass("active");

    //$("#txtNombre").numeric();
</script>