<div class="panel panel-default">
    <div class="panel-heading">
        <div class="box-header with-border">
            <h3 class="box-title" id="lblTitlePed">Venta</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <!--Contenido-->
                <div class="col-sm-14" id="VerForm">
                    <form name="frmPedidos" id="frmPedidos" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-0 col-lg-12 col-lg-offset-0 main">
                                <div class="row">
                                    <div class="col-lg-12 left">
                                        <label id="inputCliente">Cliente:</label>
                                        <div class="form-group has-success">
                                            <input id="txtIdUsuario" type="hidden"
                                                value="<?php echo $_SESSION["idusuario"] ?>" maxlength="50"
                                                class="form-control" name="txtIdUsuario" required="" placeholder=""
                                                autofocus="" />
                                            <input id="txtIdSucursal" type="hidden"
                                                value="<?php echo $_SESSION["idsucursal"] ?>" maxlength="50"
                                                class="form-control" name="txtIdSucursal" required="" placeholder=""
                                                autofocus="" />
                                            <input id="txtIdCliente" type="hidden" class="form-control"
                                                name="txtIdCliente" required placeholder="" autofocus="" />
                                            <div class="input-group">
                                                <input id="txtCliente" type="text" class="form-control"
                                                    name="txtCliente" required placeholder="Seleccione un Cliente"
                                                    autofocus="" disabled />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-success"
                                                        id="btnBuscarCliente"><i class='fa fa-search'></i>
                                                        Buscar
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 left">
                                        <label id="inputImpuesto">Impuesto</label>
                                        <div class="form-group">
                                            <div class="input-group has-success">
                                                <input id="txtImpuestoPed" type="text" class="form-control"
                                                    style="text-align:center;" name="txtImpuestoPed" disabled />
                                                <div class="input-group-addon" id="Porcentaje">%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 left">
                                        <label id="inputTipoPed">Tipo Pedido:</label>
                                        <div class="form-group  has-success">

                                            <select id="cboTipoPedido" name="cboTipoPedido" class="form-control"
                                                required>
                                                <option value="Pedido">Pedido</option>
                                                <option value="Proforma">Proforma</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 left">
                                        <label id="inputNumero">Número:</label>
                                        <div class="form-group has-success">
                                            <input id="txtNumeroPed" type="text" class="form-control"
                                                style="text-align:center;" name="txtNumeroPed" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 left">
                                        <div class="form-group">
                                            <button type="button" id="btnBuscarDetIng" class="btn btn-info"><i
                                                    class='fa fa-search'></i>
                                                Buscar Articulos </button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="col-sm-9 col-lg-12 main" id="VerDetallePedido">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-condensed table-hover"
                                        cellpadding="0" cellspacing="0" border="1" class="display"
                                        id="tblDetallePedido">
                                        <thead>
                                            <tr>
                                                <th>Articulo</th>
                                                <th>Codigo</th>
                                                <th>Serie</th>
                                                <th>Stock</th>
                                                <th>P. Venta</th>
                                                <th>Cantidad</th>
                                                <th>Descuento</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-2 main"
                                id="VerTotalesDetPedido">
                                <div class="row">
                                    <div class="col-lg-4 left">
                                        <div class="input-group has-error">
                                            <div id="SubTotal" class="input-group-addon"></div>
                                            <input type="text" class="form-control" id="txtSubTotalPed"
                                                name="txtSubTotalPed" placeholder="Sub Total" disabled>

                                        </div>
                                    </div>
                                    <div class="col-lg-4 left  has-error">
                                        <div class="input-group">
                                            <div id="IGV" class="input-group-addon"></div>
                                            <input type="text" class="form-control" id="txtIgvPed" name="txtIgvPed"
                                                placeholder="I.G.V" disabled>

                                        </div>
                                    </div>
                                    <div class="col-lg-4 left has-error">
                                        <div class="input-group">
                                            <div id="Total" class="input-group-addon"></div>
                                            <input type="text" class="form-control" id="txtTotalPed" name="txtTotalPed"
                                                placeholder="Total" disabled>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 left" id="VerRegPedido">
                                <p></p>
                                <button class="btn btn-success" id="btnRegPedido" type="submit"><i
                                        class="fa fa-floppy-o"></i> Registrar Pedido</button>
                                <button type="button" id="btnGenerarVenta" class="btn btn-warning"><i
                                        class="fa fa-floppy-o"></i> Generar Venta</button>
                                <a href="Pedido.php" class="btn btn-primary"><i class="fa fa-remove"></i> Cancelar</a>
                                <hr>
                                <span class="lead text-primary"></span>
                            </div>

                            <br><br>
                        </div>
                    </form>
                </div>
                <button class="btn btn-primary" id="btnNuevoVent"><i class="fa fa-file"></i> Nuevo</button>
                <br id="OcultaBR1"><br id="OcultaBR2">
                <div id="VerListado" class="table-responsive">


                    <table id="tblPedidos" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cliente</th>
                                <th>T. Pedido</th>
                                <th>Fecha</th>
                                <th>Total</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Cliente</th>
                                <th>T. Pedido</th>
                                <th>Fecha</th>
                                <th>Total</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </tfoot>

                        <tbody id="Pedido">

                        </tbody>
                    </table>
                </div>

                <div class="col-sm-14" id="VerFormVentaPed">
                    <form role="form" name="frmVentas" id="frmVentas">
                        <div class="row">
                            <h3 class="col-lg-12" id="txtVenta"></h3>
                            <div class="col-lg-4 left">
                                <label for="inputMarca">Tipo de Venta</label>
                                <div class="form-group  has-success">
                                    <input id="txtIdVenta" type="hidden" maxlength="50" class="form-control"
                                        name="txtIdVenta" required="" placeholder="" autofocus="" />
                                    <input id="txtIdUsuario" type="hidden" value="<?php echo $_SESSION["idusuario"] ?>"
                                        maxlength="50" class="form-control" name="txtIdUsuario" required=""
                                        placeholder="" autofocus="" />
                                    <input id="txtIdPedido" type="hidden" class="form-control" name="txtIdPedido"
                                        required="" placeholder="" autofocus="" />
                                    <select id="cboTipoVenta" name="cboTipoVenta" class="form-control">
                                        <option value="Contado">Contado</option>
                                        <option value="Credito">Crédito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 left">
                                <label for="inputMarca">T. Comprobante</label>
                                <div class="form-group  has-success">

                                    <select id="cboTipoComprobante" name="cboTipoComprobante" class="form-control">

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 left">
                                <label for="inputMarca">Serie</label>
                                <div class="form-group  has-success">
                                    <input id="txtIdTipoDoc" type="hidden" maxlength="50" class="form-control"
                                        name="txtIdTipoDoc" required="" autofocus="" placeholder=""
                                        readonly="readonly" />
                                    <input id="txtSerieVent" type="text" maxlength="50" class="form-control"
                                        name="txtSerieVent" required="" autofocus="" placeholder="" />
                                </div>
                            </div>
                            <div class="col-lg-5 left">
                                <label for="inputInscripcion">Numero</label>
                                <div class="form-group  has-success">

                                    <input id="txtNumeroVent" type="text" class="form-control" name="txtNumeroVent"
                                        required="" placeholder="" />
                                </div>
                            </div>
                            <div class="col-lg-3 left">
                                <label for="inputInscripcion">Impuesto</label>
                                <div class="form-group  has-success">

                                    <input id="txtImpuesto" type="text" class="form-control" name="txtImpuesto"
                                        placeholder="" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-lg-3 left">
                                <label for="inputInscripcion">Cliente</label>
                                <div class="form-group  has-success">

                                    <input id="txtClienteVent" type="text" class="form-control" name="txtClienteVent"
                                        placeholder="" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-lg-3 left">
                                <label id="inputTotal">Total</label>
                                <div class="form-group  has-success">

                                    <input id="txtTotalVent" type="text" class="form-control" name="txtTotalVent"
                                        required="" placeholder="" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-lg-12 left">

                                <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i>
                                    Registrar</button>
                                <a href="Pedido.php" class="btn btn-primary"><i class="fa fa-remove"></i> Cancelar</a>
                                <a id="btnEnviarCorreo" class="btn btn-default"><i class="fa fa-envelope"></i> Enviar
                                    por correo</a>
                                <hr>
                                <span class="lead text-primary"></span>
                            </div>

                            <div class="col-sm-9 col-lg-12 main" id="VerVentaDetallePedido">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-condensed table-hover"
                                        cellpadding="0" cellspacing="0" border="1" class="display"
                                        id="tblDetallePedidoVer">
                                        <thead>
                                            <tr>
                                                <th>Articulo</th>
                                                <th>Codigo</th>
                                                <th>Serie</th>
                                                <th>Stock</th>
                                                <th>P. Venta</th>
                                                <th>Cantidad</th>
                                                <th>Descuento</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-2 main">
                                    <div class="row">
                                        <div class="col-lg-4 left">
                                            <div class="input-group has-error">
                                                <div id="SubTotal_Ver" class="input-group-addon"></div>
                                                <input type="text" class="form-control" id="txtSubTotalPedVer"
                                                    name="txtSubTotalPedVer" placeholder="Sub Total" disabled>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 left  has-error">
                                            <div class="input-group">
                                                <div id="IGV_Ver" class="input-group-addon"></div>
                                                <input type="text" class="form-control" id="txtIgvPedVer"
                                                    name="txtIgvPedVer" placeholder="I.G.V" disabled>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 left has-error">
                                            <div class="input-group">
                                                <div id="Total_Ver" class="input-group-addon"></div>
                                                <input type="text" class="form-control" id="txtTotalPedVer"
                                                    name="txtTotalPedVer" placeholder="Total" disabled>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>
                <!--Fin-Contenido-->
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->

<div id="modalListadoCliente" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Listado de Clientes</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tblClientees" class="table table-striped table-bordered table-condensed table-hover"
                        cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Seleccione</th>
                                <th>#</th>
                                <th>Tipo</th>
                                <th>Cliente</th>
                                <th>N° Doc.</th>
                                <th>E-Mail</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>Seleccione</th>
                                <th>#</th>
                                <th>Tipo</th>
                                <th>Cliente</th>
                                <th>N° Doc.</th>
                                <th>E-Mail</th>
                            </tr>
                        </tfoot>

                        <tbody id="Cliente">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i>
                    Cerrar</button>
                <button type="button" id="btnAgregarCliente" class="btn btn-primary">
                    <i class="fa fa-plus"></i> Agregar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalListadoArticulosPed" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Listado de Articulos Ingresados</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tblArticulosPed" class="table table-striped table-bordered table-condensed table-hover"
                        cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Seleccione</th>
                                <th>Articulo</th>
                                <th>Codigo</th>
                                <th>Serie</th>
                                <th>Stock Actual</th>
                                <th>P. Venta</th>
                                <th>Imagen</th>
                                <th>Fecha de Ingreso</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Seleccione</th>
                                <th>Articulo</th>
                                <th>Codigo</th>
                                <th>Serie</th>
                                <th>Stock Actual</th>
                                <th>P. Venta</th>
                                <th>Imagen</th>
                                <th>Fecha de Ingreso</th>
                            </tr>
                        </tfoot>

                        <tbody id="ArticuloPed" style="text-align:center;">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i>
                    Cerrar</button>
                <!--<button type="button" id="btnAgregarArtPed" class="btn btn-primary">
<i class="fa fa-plus"></i> Agregar</button>-->
            </div>
        </div>
    </div>
</div>

<div id="modalCredito" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 class="myModalLabel">Registrar Credito</h3>
            </div>
            <div class="modal-body">
                <form role="form" name="frmCreditos" id="frmCreditos">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 left">
                                <div class="form-group">
                                    <label for="inputNombre">Fecha de Pago</label>
                                    <input id="txtIdCredito" type="hidden" class="form-control" name="txtIdCredito"
                                        required="" placeholder="" />
                                    <input id="txtIdVentaCred" type="hidden" class="form-control" name="txtIdVenta"
                                        required="" placeholder="" />
                                    <input id="cboFechaPago" type="date" class="form-control" name="cboFechaPago"
                                        value="<?php echo date("Y-m-d"); ?>" required="" placeholder="" />
                                </div>
                            </div>
                            <div class="col-lg-4 left">
                                <div class="form-group">
                                    <label for="inputApellidos">Total de Pago</label>
                                    <input id="txtTotalPago" type="text" class="form-control" name="txtTotalPago"
                                        required="" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $('#liVentas').addClass("treeview active");
        $('#liPedidos').addClass("active");

    </script>