<div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Tipos de Documentos</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  	<div class="row">
	                  	<div class="col-md-12">
		                    <!--Contenido-->
                            
		                    <div class="col-sm-14"  id="VerForm">
                          <!--
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Categoria</h3>
            </div>
        </div>
      -->
        <form role="form" name="frmTipo_Documento" id="frmTipo_Documento">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Los campos con (*) son olbigatorios</label><br>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 left">
                    <div class="form-group has-success">
                        <input id="txtIdTipo_Documento" type="hidden" maxlength="50" class="form-control" name="txtIdTipo_Documento" required="" placeholder="" autofocus="" />
                        <label>Nombre del Documento (No deje espacios en blanco) (*):</label>
                        <input id="txtNombre" type="text" maxlength="45" class="form-control" name="txtNombre" required="" placeholder="Ingrese el nombre del documento" autofocus="" />
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 left">
                    <div class="form-group has-success">
                        <label>Operación (*):</label>
                        <select class="form-control" required="" name="txtOperacion" id="txtOperacion">
                          <option value="Persona">Persona</option>
                          <option value="Comprobante">Comprobante</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                    <h5></h5>
                    <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Registrar</button>
                    <a href="Tipo_Documento.php" class="btn btn-primary" ><i class="fa fa-remove"></i> Cancelar</a>
                    <hr>
                    <span class="lead text-primary"></span>
                </div>
            </div>
        </form>
    </div>
<button class="btn btn-primary" id="btnNuevo"><i class="fa fa-file"></i> Nuevo</button>




		                    <br><br>
		                    <div id="VerListado" class="table-responsive">


            		<table id="tblTipo_Documento" class="table table-striped table-bordered table-condensed table-hover" cellspacing="0" cellpadding="0" width="100%">
                    <thead>
                        <tr>
                        	<th>#</th>
                            <th>Documento</th>
                            <th>Operación</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
             
                    <tfoot>
                        <tr>
                        	<th>#</th>
                            <th>Documento</th>
                            <th>Operación</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
             
                    <tbody id="tipo_documento">

                    </tbody>
                </table>
</div>
		                    <!--Fin-Contenido-->
                  		</div>
                  	</div><!-- /.row -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->

<script type="text/javascript">
    
    $('#liMantenimiento').addClass("treeview active");
    $('#liTipoDoc').addClass("active");
    $('#liEstadistica').removeClass("active");

</script>
