<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Unidades de Medida</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <!--Contenido-->

                <div class="col-sm-14" id="VerForm">
                    <!--
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Categoria</h3>
            </div>
        </div>
      -->
                    <form role="form" name="frmUnidad_Medida" id="frmUnidad_Medida">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                <label>Los campos con (*) son olbigatorios</label>
                            </div>
                            <div class="col-lg-8 left">
                                <div class="form-group has-success">
                                    <input id="txtIdUnidad_Medida" type="hidden" class="form-control"
                                        name="txtIdUnidad_Medida" required="" placeholder="" autofocus="" />
                                    <label>Nombre (*):</label>
                                    <input id="txtNombre" type="text" maxlength="30" class="form-control"
                                        name="txtNombre" required="" placeholder="Ingrese la Unidad de Medida"
                                        autofocus="" />
                                </div>
                            </div>
                            <div class="col-lg-8 left">
                                <div class="form-group has-success">
                                    <label>Prefijo (*):</label>
                                    <input id="txtPrefijo" type="text" maxlength="5" class="form-control"
                                        name="txtPrefijo" required=""
                                        placeholder="Ingrese un prefijo para la Unidad de Medida" autofocus="" />
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 left">
                                <h5></h5>
                                <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i>
                                    Registrar</button>
                                <a href="Unidad_Medida.php" class="btn btn-primary"><i class="fa fa-remove"></i>
                                    Cancelar</a>
                                <hr>
                                <span class="lead text-primary"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <button class="btn btn-primary" id="btnNuevo"><i class="fa fa-file"></i> Nuevo</button>



                <br><br>
                <div id="VerListado" class="table-responsive">


                    <table id="tblUnidad_Medida" class="table table-striped table-bordered table-condensed table-hover"
                        cellspacing="0" cellpadding="0" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Unidad Medida</th>
                                <th>Prefijo</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Unidad Medida</th>
                                <th>Prefijo</th>
                                <th>Opciones</th>
                            </tr>
                        </tfoot>

                        <tbody id="unidad_medida">

                        </tbody>
                    </table>
                </div>
                <!--Fin-Contenido-->
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->

<script type="text/javascript">

    $('#liAlmacen').addClass("treeview active");
    $('#liUM').addClass("active");

</script>