<div class="box">
            <div class="box-header with-border">
                <div class="box-header with-border">
                  <h3 class="box-title" >Ventas Generales</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>                
                  </div>
                </div>
            </div>
                <!-- /.box-header -->
                <div class="box-body">
                  	<div class="row">
	                  	<div class="col-md-12">
		                    <!--Contenido-->
                            <div class="col-sm-14"  id="VerFormVentaPed">
<form role="form" name="frmVentas" id="frmVentas" >
            <div class="row">
                <h3 class="col-lg-12" id="txtVenta" ></h3>
                <div class="col-lg-4 left">
                    <label for="inputMarca">Tipo de Venta</label>
                    <div class="form-group  has-success">
                        <input id="txtIdVenta" type="hidden" maxlength="50" class="form-control" name="txtIdVenta" required="" placeholder="" autofocus="" />
                        <input id="txtIdUsuario" type="hidden" value="<?php echo $_SESSION["idusuario"] ?>" maxlength="50" class="form-control" name="txtIdUsuario" required="" placeholder="" autofocus="" />
                        <input id="txtIdPedido" type="hidden" class="form-control" name="txtIdPedido" required="" placeholder="" autofocus="" />
                        <select id="cboTipoVenta" name="cboTipoVenta" class="form-control">
                            <option value="Contado">Contado</option>
                            <option value="Credito">Credito</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 left">
                    <label for="inputMarca">T. Comprobante</label>
                    <div class="form-group  has-success">
                        
                        <select id="cboTipoComprobante" name="cboTipoComprobante" class="form-control">

                        </select>
                    </div>
                </div>
                <div class="col-lg-5 left">
                    <label for="inputMarca">Serie</label>
                    <div class="form-group  has-success">
                        <input id="txtIdTipoDoc" type="hidden" maxlength="50" class="form-control" name="txtIdTipoDoc" required="" autofocus="" placeholder="" readonly="readonly"/>
                        <input id="txtSerieVent" type="text" maxlength="50" class="form-control" name="txtSerieVent" required="" autofocus="" placeholder="" readonly="readonly"/>
                    </div>
                </div>
                <div class="col-lg-5 left">
                    <label for="inputInscripcion">Numero</label>
                    <div class="form-group  has-success">
                        
                        <input id="txtNumeroVent" type="text" class="form-control" name="txtNumeroVent" required="" placeholder="" readonly="readonly"/>
                    </div>
                </div>
                <div class="col-lg-3 left">
                    <label for="inputInscripcion">Impuesto</label>
                    <div class="form-group  has-success">
                        
                        <input id="txtImpuesto" type="text" class="form-control" name="txtImpuesto" placeholder="" readonly="readonly"/>
                    </div>
                </div>
                <div class="col-lg-3 left">
                    <label id="inputTotal">Total</label>
                    <div class="form-group  has-success">
                        
                        <input id="txtTotalVent" type="text" class="form-control" name="txtTotalVent" required="" placeholder="" readonly="readonly"/>
                    </div>
                </div>
                <div class="col-lg-12 left">

                    <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Registrar</button>
                    <a href="VentasFechas.php" class="btn btn-primary" ><i class="fa fa-remove"></i> Cancelar</a>
                    <hr>
                    <span class="lead text-primary"></span>
                </div>

                <div class="col-sm-9 col-lg-12 main" id="VerVentaDetallePedido">
                <div class="table-responsive">
                        <table class="table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" border="1" class="display" id="tblDetallePedidoVer">
                            <thead>
                                <tr>
                                    <th>Articulo</th>
                                    <th>Codigo</th>
                                    <th>Serie</th>
                                    <th>Stock</th>
                                    <th>P. Venta</th>
                                    <th>Cantidad</th>
                                    <th>Descuento</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                </div>

                <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-2 main">
                    <div class="row">
                        <div class="col-lg-4 left">
                            <div class="input-group has-error">
                                <div id="SubTotal_Ver" class="input-group-addon"></div>
                                <input type="text" class="form-control" id="txtSubTotalPedVer" name="txtSubTotalPedVer" placeholder="Sub Total" disabled>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 left  has-error">
                            <div class="input-group">
                                <div id="IGV_Ver" class="input-group-addon"></div>
                                <input type="text" class="form-control" id="txtIgvPedVer" name="txtIgvPedVer" placeholder="I.G.V" disabled>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 left has-error">
                            <div class="input-group">
                                <div id="Total_Ver" class="input-group-addon"></div>
                                <input type="text" class="form-control" id="txtTotalPedVer" name="txtTotalPedVer" placeholder="Total" disabled>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            </div>
        </form>
</div>
	<div class="col-sm-14">
       
        <form role="form">
            <div class="row">
                <?php
                            if ($_SESSION["superadmin"] == "S") {
                        ?>
                        <div class="col-lg-4 left">
                            <label for="inputMarca">Sucursal:</label>
                            <div class="form-group has-success">
                                
                                <div class="input-group">

                                    <input id="txtSucursal" type="text" value="<?php echo $_SESSION["sucursal"] ?>" class="form-control" name="txtSucursal" required="" placeholder="Seleccione una Sucursal" autofocus="" disabled/>
                                    <span class="input-group-btn" >
                                          <button type="button" class="btn btn-success" id="btnBuscarSucursal" ><i class='fa fa-search'></i>
                                                        Buscar
                                          </button>
                                    </span>
                                </div>   
                            </div>
                        </div>
                        <?php } ?>
                <div class="col-lg-4 left">
                    <div class="form-group has-success">
                        <label for="inputMarca">Desde :</label>
                        <input id="txtIdSucursal" type="hidden" value="<?php echo $_SESSION["idsucursal"] ?>" maxlength="50" class="form-control" name="txtIdSucursal" required="" placeholder="" autofocus="" />
                        <input id="cboFechaDesdeVent" type="date" maxlength="50" value="<?php echo date("Y-m-d"); ?>"  class="form-control" name="cboFechaDesdeVent" required="" />
                    </div>
                </div>
                <div class="col-lg-4 left">
                    <div class="form-group has-success">
                        <label for="inputMarca" id="lblHasta">Hasta :</label>
                        <input id="cboFechaHastaVent" type="date" maxlength="50" value="<?php $fecha = date('Y-m-d');
                        $nuevafecha = strtotime ( '+1 day' , strtotime ( $fecha ) ) ;
                        $nuevafecha = date ( 'Y-m-d' , $nuevafecha );
                        echo $nuevafecha; ?>" class="form-control" name="cboFechaHastaVent" required="" />
                    </div>
                </div>
            </div>
        </form>
        <br>
            <div id="VerListado" class="table-responsive">


                    <table id="tblVentaFechas" class="table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Sucursal</th>
                            <th>Empleado</th>
                            <th>Cliente</th>
                            <th>Comprobante</th>
                            <th>Serie</th>
                            <th>Numero</th>
                            <th>Impuesto</th>
                            <th>Sub Total</th>
                            <th>Total Impuesto</th>
                            <th>Total</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
             
                    <tfoot>
                        <tr>
                            <th>Fecha</th>
                            <th>Sucursal</th>
                            <th>Empleado</th>
                            <th>Cliente</th>
                            <th>Comprobante</th>
                            <th>Serie</th>
                            <th>Numero</th>
                            <th>Impuesto</th>
                            <th>Sub Total</th>
                            <th>Total Impuesto</th>
                            <th>Total</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
             
                </table>
            </div>
    </div>
		                    
		                    <!--Fin-Contenido-->
                  		</div>
                  	</div><!-- /.row -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->

<div id="modalListadoSucursal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Listado de Sucursales</h4>
      </div>
      <div class="modal-body">
      <div class="table-responsive">
        <table id="tblSucursales" class="table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Seleccione</th>
                            <th>#</th>
                            <th>Razón Social</th>
                            <th>Documento</th>
                            <th>Dirección</th>
                            <th>E-Mail</th>
                            <th>Logo</th>
                        </tr>
                    </thead>
             
                    <tfoot>
                        <tr>
                            <th>Seleccione</th>
                            <th>#</th>
                            <th>Razón Social</th>
                            <th>Documento</th>
                            <th>Dirección</th>
                            <th>E-Mail</th>
                            <th>Logo</th>
                        </tr>
                    </tfoot>
             
                    <tbody id="Sucursales">

                    </tbody>
                </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> Cerrar</button>
        <button type="button" id="btnAgregarSucursal" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    
    

    $('#liConsultaVentas').addClass("treeview active");
    $('#liVentasFechas').addClass("active");

    //$("#txtNombre").numeric();
</script>